@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global resets */
body {
  margin: 0;
  padding: 0;
  background-color: #111827; /* gray-900 */
  font-family: "Inter", sans-serif;
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
